<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if user_signed_in? %>
          <div class="sticky-top">
            <h2><%= @user.username %></h2>
            <div class="mb-2"><%= gravatar_for(@user, 120) %></div>
            <div class="post-form">
              <%= render 'posts/post_form'%>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2><%= @user.username %>'s feed</h2>
      <ul class="list-group">
      <% if @pagy.nil?%>
      <div class="alert alert-dark" role="alert">
        Your feed is currently empty. Publish a post or wait until one of your friends does.
      </div>
      <%else%>
        <div class="d-flex flex-row justify-content-center mb-2"><%== pagy_bootstrap_nav(@pagy)%></div>
          <%= render 'posts/post_display' %>
        <div class="d-flex flex-row justify-content-center mt-2"><%== pagy_bootstrap_nav(@pagy)%></div>
      <% end %>
    </ul>
  </div>
</div>