<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if user_signed_in? %>
          <div class="sticky-top">
            <h2><%= @user.username %></h2>
            <div class="mb-2"><%= gravatar_for(@user, 120) %></div>
            <div class="post-form">
              <%= render 'posts/post_form'%>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2><%= @user.username %>'s feed</h2>
      <ul class="list-group">
      <%= render 'posts/post_display' %>
    </ul>
  </div>
</div>