<!DOCTYPE html>
<html>
  <head>
    <title>Rollodex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="<%=image_url('rollOdex.png')%>">
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= render 'layouts/flash'%>
    <%= yield %>
    <%# debug(params) if Rails.env.development? %>
  </body>
</html>
